//SASS styling
@import './variables.scss';
// 변수 선언 : $ 키워드 사용
// $color-first: red;
// $color-second: orange;
// $color-third: yellow;
// $animation-duration: 0.4s;

// - 믹스인(함수) 선언
// @mixin box($size) {
//   width: $size;
//   height: $size;
// }
@import './utils.scss';

// -중첩 : 부모 자식 표현 가능
// 내부로 중첩시켜 부모 자식처럼 표현가능
.container {
  display: flex;

  .box {
    //믹스인 호출
    @include box(150px);

    // & : 부모 선택자 참조해서 치환
    &.red {
      // &.red = .box.red
      // background: red;

      //변수선언 한것으로 불러오기
      background: $color-first;
    }

    &.orange {
      //   background: orange;
      background: $color-second;
    }

    &.yellow {
      //   background: yellow;
      background: $color-third;
    }

    &:hover {
      $box-animation: $animation-duration * 2;
      transform: translateY(-20px);
      transition: transform $box-animation;
    }
  }
}

@media (max-width: #{$breakpoint-sm}) {
  // @media(max-width: 360px과 동일한 코드)
  .container {
    flex-direction: column;
  }
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.btn-primary {
  //확장의 의미로 extend하여 btn의 정보를 그대로 가져옴
  @extend .btn;
  background: $color-third;
}
