<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <div>
      <form name="register">
        <input type="text" placeholder="아이디" id="id" /><br />
        <input type="password" placeholder="비밀번호" id="password" /><br />
        <input type="text" placeholder="이름" id="name" /><br />
        <input type="text" placeholder="나이" id="age" /><br />
        <input type="file" name="userFiles" /><br />
        <button type="button" onclick="getAxios()"></button>
      </form>
    </div>
  </body>
</html>
