<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <div>
      <form action="/upload3" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="아이디" name="id" /><br />
        <input type="password" placeholder="비밀번호" name="password" /><br />
        <input type="text" placeholder="이름" name="name" /><br />
        <input type="text" placeholder="나이" name="age" /><br />
        <input type="file" name="userFiles" name="userFiles" /><br />
        <input type="submit" value="회원가입" />
      </form>
    </div>
  </body>
</html>
