<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습풀이</title>
  </head>
  <body>
    <h1>실습 연습 풀이 중입니다</h1>
    <div>
      <a href="/getInfo">실습1(GET) 이동</a>
    </div>
    <div>
      <a href="/postInfo">실습2(POST) 이동</a>
    </div>
  </body>
</html>
