<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post" id="loginForm">
      <div>
        <input
          type="text"
          name="id"
          id="id"
          placeholder="ID를 적어주세요"
        /><br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="pw를 적어주세요"
        /><br />
        <input type="submit" value="로그인" />
      </div>
    </form>
    <div id="content"></div>
  </body>
  <script src="js/login.js"></script>
</html>
