<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form name="register"></form>

    <div class="result"></div>

    <h1>고양이 사진 랜덤 돌리기</h1>
    <button type="button" onclick="changeImg()">랜덤</button>
    <br />
    <img
      width="500"
      height="500"
      src="https://w7.pngwing.com/pngs/633/239/png-transparent-mario-mario.png"
      alt="고양이"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const img = document.querySelector('img');

      async function changeImg() {
        const res = await axios({
          url: `https://api.thecatapi.com/v1/images/search`,
          method: 'get',
        });
        const { data } = res;
        img.src = data[0].url; // img태그의 src속성을 open api에서 받아온 랜덤 이미지 주소로 변경
      }
    </script>
  </body>
</html>
