<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="resultForm">
      <input
        type="text"
        name="userId"
        id="userId"
        placeholder="아이디를 입력하세요"
      />
      <input
        type="text"
        name="userPass"
        id="userPass"
        placeholder="비밀번호를 입력하세요"
      />
      <button type="button" onclick="login()">로그인하기</button>
    </form>
  </body>
  <script>
    const form = document.forms['resultForm'];

    function login() {
      const data = {
        userId: form.userId.value,
        userPass: form.userPass.value,
      };
      axios({
        method: 'post',
        url: '/login',
        data: data,
      })
        .then((res) => {
          console.log(res);
          console.log(res.data);
          if (res.data.success === false) {
            alert(res.data.msg);
          } else {
            alert('로그인에 성공했습니다');
            location.href = '/';
          }
        })
        .catch((err) => {
          consol.error(err);
        });
    }
  </script>
</html>
