<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>노드js</title>
    <style>
      h1 {
        color: orange;
      }

      p {
        font-size: 20px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1>안녕하세요</h1>
    <% for(let i = 0; i< 5; i++) { %>
    <div><%= i %></div>
    <% }%>
    <p>node에서 http모듈을 이용해 클라이언트 요청에 대해 응답했습니다.</p>
  </body>
</html>
