<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>
<body>
    <h1></h1>
    <div>
        <label for="text2">아이디</label>
        <input type="text" name="text2"><br>
    </div>
    <div>
        <label for="pass2">패스워드</label>
        <input type="password" name="pass2"><br>
    </div>
</body>
</html>