<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socket.io 채팅</title>
  </head>
  <body>
    <h1>Hello World!</h1>

    <button onclick="getHello()">hello</button>
    <button onclick="getStudy()">study</button>
    <button onclick="getBye()">bye</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('notice', (msg) => {
        console.log(`${msg}`);
      });

      function getHello() {
        socket.emit('hello', '안녕하세요~!');
      }

      function getStudy() {
        socket.emit('study', '공부하는 중입니다!');
      }

      function getBye() {
        socket.emit('bye', '안녕히 가세요!');
      }
    </script>
  </body>
</html>
