<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <form>
      <div>
        <label for="text2">아이디</label>
        <input type="text" name="text2" id="id" /><br />
      </div>
      <div>
        <label for="pass2">패스워드</label>
        <input type="password" name="pass2" id="password" /><br />
      </div>
      <div>
        <input type="submit" id="buttons" />
      </div>
    </form>
  </body>
  <script src="js/home/login.js"></script>
</html>
